@font-face {
    font-family: 'mercado';
    src: url(../fonte/Loja-LightItalic.ttf);
}

@font-face {
    font-family: 'produtos';
    src: url(../fonte/Insanibc.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body, html{
    overflow-x: hidden!important;
} 

header nav{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #dae3e5;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.parallax{
    background-image: url(../imagens/parallax.png);
    width: 100vw;
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

header{
    background-color: #89aae6;
    font-family: 'mercado';
    font-size: 30pt;
    display: flex;
    height: 150px;
    line-height: 150px;
}

main{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

header{
    grid-column: span 2;
}

footer{
    grid-column: span 2;
    background-color: #171738;
    color: white;
    padding: 10px;
}

nav a{
    display: block;
    text-align: center;
    width: 150px;
    color: #FFF;
    text-decoration: none;
    font-size: 15pt;
    background-color: #0618268f;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

nav a:hover{
    background-color: #061826d8;
}

.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

figure{
    width: 150px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

figure span{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

#formulario span{
    display: inline;
}

figure img{
    display: flex;
    height: 100px;
}
figure figcaption{
    display: block;
    width: 100%;
}

h2{
    display: block;
    width: 100%;
    padding: 10px;
    font-family: 'produtos';
}

figure div input{
    width: 50px;
    text-align: end;
    margin-right: 15px;
    border: none;
    background-color: #dae3e5;
}

figure div button{
    background-color: rgba(112, 255, 112, 0.911);
    border: none;
    border-radius: 5px;
}

figure div button:hover{
    background-color: rgba(71, 255, 71, 0.911);
}

h6{
    font-size: 8pt;
    padding: 10px;
}

#formulario h2{
    display: block;
}

#formulario{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#formulario label{
    margin: 10px;
}

label input{
    width: 237px;
}

#name{
    margin-left: 2.9%;
}

#email{
    margin-left: 2.6%;
}

#assunto{
    margin-left: 1.8%;
    width: 241px;
}

#formulario button{
    width: 150px;
    margin-left: 8%;
    background-color: #061826;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}

#mensagem{
    margin-left: 0.2%;
}

#abacaxiArrombado img{
    width: 50px;
}

footer span{
    display: block;
    margin-top: 5px;
}

footer i{
    font-size: 20pt;
    padding-right: 30px;
}

@media (max-width:780px) {
    @keyframes slide {
        from {
            opacity: 0%;
        }

        to {
            opacity: 100%;
        }
    }

    body, html {
        overflow-x: hidden!important;
    }

    main{
        width: 100vw;
    }

    figcaption{
        font-size: 8pt;
    }

    header{
        display: flex;
        flex-direction: row;
        height: 70px;
        line-height: 70px;
    }

    .dp-menu{
        width: 50%;
        text-align: end;
        opacity: 100%;
    }

    .dp-menu i{
        padding: 10px;
    }

    .dp-menu ul{
        text-align: end;
    }

    .dp-menu ul li a{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }

    header h1{
        font-size: 15pt;
    }

    .parallax{
        min-height: 250px;
    }

    figure{
        margin: 0;
    }

    .produtos{
        margin: 0;
    }

    figure > div{display: flex;}
    
    figure div input{
        width: 25px;
    }

    #assunto, #email, #name, #mensagem{
        margin: 0;
    }

    h2{
        width: 100vw;
        text-align: center;
    }

    section .produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav{
        display: none;
    }

    header nav{
        display: inline;
    }

    header nav ul li{
        box-sizing: border-box;
    }

    header nav ul{
        background-color: #89aae6;
    }

    header nav ul li a{
        width: 100px;
        height: 20px;
        line-height: 20px;
        font-size: 10pt;
        background-color: #89aae6;
        display: block;
        border: none;
        border-radius: 0;
    }

    .dp-menu ul{
        display: none;
        list-style-type: none;
        position: absolute;
        padding: 0;
        right: 0;
    }

    .dp-menu #toggle:checked ~ ul{
        display: block;
        animation: slide 0.5s normal;
    }

    .hide{
        position: absolute;
        left: -100vw;
    }
}
